body {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

.navbar {
    background-color: #ccc;
}

.navbar-brand {
    font-weight: bold;
    font-size: 2em;
}

.nav-item {
    font-size: 1.4em;
}

.nav-item:hover {
    background-color: #fff;
    font-size: 1.5em;
}

header {
    margin: 30px auto;
}

.row {
    padding: 20px;
}

.row>div>div {
    background-color: #ccc;
    padding: 20px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}