body {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

.navbar {
    background-color: #ccc;
}

.navbar-brand {
    font-weight: bold;
    font-size: 2em;
}

header {
    margin: 30px auto;
}

.row>div {
    background-color: #ccc;
    height: 1000px;
    padding: 20px;
    overflow: hidden;
    margin: 0 10vw;
}

@media (min-width: 1200px) {
    .row>div {
        margin: 0 2vw;
    }
}