body {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

.navbar {
    background-color: #ccc;
}

.navbar-brand {
    font-weight: bold;
    font-size: 2em;
}

header {
    margin: 30px auto;
}

.row {
    padding: 30px;
}

.row {
    padding: 20px;
}

.row>div>div {
    background-color: #ccc;
    padding: 20px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .row>div {
        /* margin: 0 2vw; */
    }
}